*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form{
    outline: solid;
    height: 50vh;
    width: 50vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}